code {
    white-space: pre-wrap;      /* prevents multiple spaces from being collapsed into one. Also in the template but for safety here as well.*/
    background-color: #eff0f1;  /* highlight bachgroung of code like ion stackoverflow */
}
